.row-posters {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 1rem;
    transition: transform 450ms;
}

.row-poster {
    display: flex;
    cursor: pointer;
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.row-poster-large {
    max-height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
}

.movie-title {
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.list-icon {
    position: absolute;
    top: 1.5rem;
    color: #D1D5DB;
    /* left: 1.5rem; */
    font-size: x-large;
}

.l {
    left: 1.5rem;
}

.r {
    right: 1.5rem;
}

.row-posters:hover {
    transform: scale(1.08);
    /* opacity: .5; */
}

.row-poster-large:hover {
    transform: scale(1.09);
    /* opacity: .5; */
}

.overlay:hover {
    background-color: black;
    opacity: .8;
}

@media (min-width: 640px) {
    .row-posters {
        width: 160px;
    }

    .movie-title {
        font-size: x-small;
    }
}

@media (min-width: 768px) {
    .row-posters {
        width: 200px;
    }

    .movie-title {
        font-size: small;
    }
}

@media (min-width: 1024px) {
    .row-posters {
        width: 240px;
    }
}